:root {
  --dodger-50: #eff8ff;
  --dodger-100: #daf0ff;
  --dodger-200: #bee5ff;
  --dodger-300: #91d6ff;
  --dodger-400: #5dbdfd;
  --dodger-500: #389ffa;
  --dodger-600: #2180ef;
  --dodger-700: #1969dc;
  --dodger-800: #1b55b2;
  --dodger-900: #1c4a8c;
  --dodger-950: #162e55;
}
